@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer:ital@1&display=swap');
@font-face{
    font-family: 'Royal Acidbath Open';
    src: url('./assets/fonts/Royalacid_open.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "TiltPenX";
    src: url("./assets/fonts/TiltPenX.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Comic Sans MS";
    src: url("./assets/fonts/ComicSans/comic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Comic Sans MS";
    src: url("./assets/fonts/ComicSans/comicbd.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: "Comic Sans MS";
    src: url("./assets/fonts/ComicSans/comici.woff") format("woff");
    font-weight: normal;
    font-style: italic;
}
@font-face{
    font-family: "Comic Sans MS";
    src: url("./assets/fonts/ComicSans/comicz.woff") format("woff");
    font-weight: bold;
    font-style: italic;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #FFF2D4;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B3B3F2;
    border-radius: 20px;
    border: 3px solid #B3B3F2;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #A0A0E7;
    border: 3px solid #A0A0E7;
}

:root {
	--main-text-color: #065C5C;
	--orange-accent: #E29D00;
	--pink-accent: #065C5C;
}

body {
	font-family: "Comic Sans MS";
	/*background-image: url(background.gif);
	background-repeat: repeat;
	background-color: #c5c5f0;*/
	background-color: rgba(211, 211, 242, 0.9);
	color: var(--main-text-color);
	margin: 0px;
}

p{
	margin: 0px;
}

ul{
	margin: 0px;
}

a{
	color: var(--main-text-color);
	transition: 0.2s ease-in;
}

a:hover {
	color: var(--orange-accent);
	transition: 0.2s ease-out;
}

/* NAVBAR */
.nav{
	font-family: 'Asul', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

#navbarSection{
	max-width: 300px;
}

.navheadertext{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 1px;
}

#navtitle{
	font-size: 24px;
}

#navsubtitle{
	font-size: 16px;
}

.navheader{
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-items: center;
	justify-content: center;
}

.navstars {
	overflow: hidden;
	white-space: nowrap;
	max-width: 85%;
	margin-top: 10px;
}

.navlink{
	margin: 0px;
}

.navlinks {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	gap: 15px;
	width: 100%;
}

/* MAIN CONTENT */
.container {
	margin: auto;
	display: flex;
	justify-content: center;
}

.mainSection{
	display: flex;
	flex-direction: row;
	width: 78%;
	min-height: 100vh;
	background: url('../../assets/images/rollinghills.jpg');
}

.mainContent {
	width: 80%;
	margin-top: 20px;
}

.contentBoxCenter {
	margin: 0px 10px 8px 10px;
	border: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 16px;
	background-color: #FFF2D4;
	text-align: center;
}

.contentBoxLeft {
	margin: 0px 10px 8px 10px;
	border: solid;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 16px;
	background-color: #FFF2D4;
}

.twoColumnBox{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* SIDEBAR */
#sidebarSection{
	margin-top: 20px;
	width: 20%;
}

.sidebar {
	padding: 10px;
	margin-right: 10px;

	border-style: solid;
	background-color: #FFF2D4;
}

.sidebarh3{
	margin: 0px;
}

/* RESEARCH PAGE */
.research-title{
	margin: 0px;
}

#research-poster{
	width: 85%;
}

/* FORTUNE TELLER PAGE */
.fortunes-title-container{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.orange-tape{
    width: 80%;
    height: 150px;
}

.fortunes-title{
    position: absolute;
    font-family: "TiltPenX";
    font-size:70px;
	color: black;

    display: flex;
    flex-direction: row;
}

.get-fortune-button{
    background-color: #065C5C;
    color: white;
    font-family: 'Asul', sans-serif;
    font-size: 22px;
    width: 200px;
    margin-top: 50px;
    padding: 10px;
    border: none;
    border-radius: 5%;
}

#your-fortune-is{
    margin: 10px;
    font-size: 40px;
    font-family: 'IM Fell Great Primer', serif;
}

#fortune-text{
    padding: 15px;
    min-width: 70%;
    min-height: 20vh;
    
	font-size: 25px;
	font-family: 'Asul', sans-serif;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* SOURCES PAGE */
.gifLink{
	text-decoration: none;
}

.gifAsset{
	height: 75px;
}

/* RANDOM */
#hiImGrace{
	font-family: "Royal Acidbath Open";
    color: #E29D00;
    font-size: 70px;
	font-weight: bold;
	margin: 0px;
}

#cow{
	height: 200px;
}

#catonpiano-gif{
	width: 250px;
}